@use "../../scss/variabels.scss" as *;

.container {
  font-family: "Open Sans", sans-serif;
  width: 30vw;
  height: 252px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  box-shadow: 1px 3px 10px $shadows;
  border-radius: 5px;
  background-color: $componentsBg;
  @media (max-width: 769px) {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    align-items: center;
    height: fit-content;
    padding: 0px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    justify-content: space-between;
  }
}
.div_header {
  margin: 0;
  padding-left: 15px;
  font-weight: 550;
  font-size: 0.8em;
  color: $font-main;
  @media (max-width: 769px) {
    width: 100%;
    padding: 0;
    padding-left: 15px;
  }
}

.div {
  padding-left: 15px;
  //  width: calc(100% - 15px);
  font-weight: 100;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @media (max-width: 769px) {
    width: 40%;
    padding-right: 10px;
  }
}

.div:hover {
  background-color: $hover;
}

.checkbox {
  appearance: none;
  border: solid 1px $font-secondary;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
}

.checkbox:checked {
  border: solid 1px #2196f3;
  background-image: url("/src/assets/Shape.png");
  background-repeat: no-repeat;
  background-position: center center;
}
